<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Brighton Website Template | Services :: w3layouts</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body id="admin">
    <div class="content-top">
		<div class="wrap">
			<div class="content-topbox">
				<div class="col_1_of_bottom span_1_of_last">
					<img src="~/Images/mehndi.jpg" alt="">
				     <div class="main_link1">
						<h5>Mehndi Events</h5>
						<p>Choose from any of our extensive range </p>
						@Html.ActionLink("read more", "mehndi", "Home")
					</div>
				</div>
				<div class="col_1_of_bottom span_1_of_bottom">
                    <img src="~/Images/pic7.jpg" alt="">
				     <div class="main_link">
						<h5>Wedding Events</h5>
						<p>Choose from any of our extensive range </p>
						@Html.ActionLink("read more", "mehndi", "Home")
					</div>
					
				  </div>
				<div class="col_1_of_bottom span_1_of_bottom">
                    <img src="~/Images/pic2.jpg" alt="">
				     <div class="main_link">
					<h5>Reception</h5>
						<p>Choose from any of our extensive range </p>
						@Html.ActionLink("read more", "mehndi", "Home")
					</div>
				</div>
				  <div class="clear"></div> 
			</div>
		</div>
	</div>
   <div class="clear"></div>
  
</body>
</html>